body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    width: 97%;
    height: 50px;
    background-color: grey;

}


.container {
    height: 400px;
    width: 250px;
    border: 2px solid black;
    margin: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    background-color: rgba(0, 0, 0, 0.606);
    padding: 10px;
    text-align: center;
   
}
.btn{
    width: 50px;
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
    background-color: black;
    color: white;
    margin: 10px;
    
    text-align: center;
    overflow: hidden;
}

